*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configs do Header/Menu */

header{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
    height: 100px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu nav ul{
    display: flex;
    list-style: none;
}

.menu nav a{
    text-decoration: none;
    font-size: 14px;
    color: #727272;
    padding: 15px;
}

.menu .active a{
    color: #FFFFFF;
    background-color: #42b3e5;
}

.menu nav a:hover{
    color: #FFFFFF;
    background-color: #42b3e5;
}

/* Configs do banner */

#banner{
    background-image: url(/assets/images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}